* {
    all: unset;
}

.clipboard {
    background-color: #707070;
    padding: 10px;
}

.files {
    background-color: blue;
    margin: 10px;
}
.file {
    margin: 10px;
    background-color: green;
}
