* {
  all: unset;
}

window {
  background: #0e1419;
}

.test-box {
  background-color: #2a2a2a;
}
.test-box.red {
    background-color: red;
}
.test-box.blue {
    background-color: blue;
}
.test-box.green {
    background-color: green;
}

* {
  all: unset;
}

window {
  background: $background;
}

